[submodule "meta-agent"]
	path = meta-agent
	url = https://github.com/Approaching-AI/meta-agent.git
[submodule "auto-meta-agent"]
	path = agents
	url = https://github.com/Approaching-AI/auto-meta-agent.git
